@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

@import 'variables';

@import 'bootstrap';

a:not(.btn) {
  text-decoration: underline;
}

.line {
  background: $gray-300;
  width: 40px;
  height: 3px;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .logo {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 600ms ease;
    &:hover {
      transform: scale(1.05);
    }
    @include media-breakpoint-up(md) {
      width: 300px;
      height: 300px;
    }
  }
}
